{{ $md := .Site.Params.body_is_markdown | default false }}

{{ with .Site.Params.cta }}
{{ if .enable }}
<section id="cta" class="wrapper style4">
	<div class="inner">
		<header>
      <h2>{{ .title | safeHTML }}</h2>
      {{ partial "body_text.html" (dict "context" . "md" $md) }}
		</header>
		<ul class="actions stacked">
      {{ range .link }}
      <li><a href="{{ .href }}" class="button fit {{ if .special }}primary{{ end }}">{{ .text }}</a></li>
      {{ end }}
		</ul>
	</div>
</section>
{{ end }}
{{ end }}
