{{ if .Site.Params.three.enable }}
{{ $md := .Params.body_is_markdown | default "false" }}
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
      <h2>{{ .Site.Params.three.title | safeHTML }}</h2>
      {{ if $md }}
      {{ .Site.Params.three.body_markdown | markdownify }}
      {{ else }}
      <p>{{ .Site.Params.three.body | safeHTML }}</p>
      {{ end }}
		</header>
		<ul class="features">
      {{ range .Site.Params.three.feature }}
      <li class="icon {{ .icon }}">
        <h3>{{ .title | safeHTML }}</h3>
        <p>{{ .body | safeHTML }}</p>
			</li>
      {{ end }}
		</ul>
	</div>
</section>
{{ end }}
