{{ if .Site.Params.two.enable }}
{{ $md := .Params.body_is_markdown | default "false" }}
<section id="two" class="wrapper alt style2">
  {{ range .Site.Params.two.section }}
	<section class="spotlight">
    <div class="image"><img src="{{ .img | relURL }}" alt="" /></div><div class="content">
      <h2>{{ .title | safeHTML }}</h2>
      {{ if $md }}
      {{ .body | markdownify }}
      {{ else }}
      <p>{{ .body | safeHTML }}</p>
      {{ end }}
		</div>
	</section>
  {{ end }}
</section>
{{ end }}
